@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/typography.scss";
@import "../../styles/partials/variables.scss";



body {
    background-color: $off-white;
}

.landingPage--section {
    display: flex;
    justify-content: center;
    align-items: center;


    .langingPage--logosContainer {
        width: 60%;
        margin-left: 0 auto;
        margin-right: 0 auto;
    }


}