@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/typography.scss";
@import "../../styles/partials/variables.scss";

body {
    // background-color: $off-white;
    font-family: "Avenir Next LT";
    margin: 0;
    padding: 0;
}

.landingPage--section {
    background-color: $off-white;
    color: $off-white;
    text-align: center; 
    height: 100vh;

    .landingPage--desktopFlex {
        @include responsive(tablet) {
            @include center-container;
            display: flex;
        }

        @include responsive(desktop) {
            @include center-container;
            display: flex;

        }
    }

    

    .langingPage--logosContainer {
        display: inline-block; 
        width: 70%;
        margin-top: 3rem;

        @include responsive(tablet) {
            width: 40%;
            margin-right: 3rem;
        }

        @include responsive(desktop) {
            width: 30%;
            margin-right: 3rem;
        }
        
        .langingPage--mainLogo {
            margin-bottom: 0;

            @include responsive(tablet) {
                width: 100%;
            }

            @include responsive(desktop) {
                width: 100%;
            }
        }

        .langingPage--subLogo {
            margin-top: -1rem;

            @include responsive(tablet) {
                width: 100%;
                margin-top: -4.5rem;
            }
    
            @include responsive(desktop) {
                width: 100%;
                margin-top: -5rem;
            }
        }
    }

    .landingPage--buttonsContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .landingPage--questionButton {
            @include border-radius;
            @include landing-page-buttons;
            background-color: $petal-pink;
            margin-bottom: 0.75rem;

            @include responsive(tablet) {
                margin-bottom: 2rem;
            }

            @include responsive(desktop) {
                margin-bottom: 2rem;
            }
        }

        .landingPage--startButton {
            @include border-radius;
            @include reset-button;
            @include landing-page-buttons;
            background-color: $main-red;
            color: $off-white;
            text-transform: uppercase;
            cursor: pointer;


            @include responsive(tablet) {
                @include responsive-padding-button;
            }

            @include responsive(desktop) {
                @include responsive-padding-button;
            }

            &:hover {
                background-color: $bright-red;
                transform: rotate(2.5deg);
            }
        }


        .landingPage--buttonsText {
            @include reset-list-2;
            

            @include responsive(tablet) {
                @include responsive-text-padding;
                font-size: 1.25rem;
            
            }

            @include responsive(desktop) {
                @include responsive-text-padding;
                font-size: 1.5rem;
                
            }
            

        }
    }
}
