@mixin responsive($breakpoint) {

    @if $breakpoint == smartphone-portrait-small {
        @media only screen and ( max-width: 766px ) {
            @content;
        }
    }


    @if $breakpoint == tablet {
        @media only screen and ( min-width: 767px ) and ( max-width: 1279px ) {
            @content;
        }
    }

    @if $breakpoint == desktop {
        @media only screen and ( min-width: 1280px ) {
            @content;
        }
    }
}

@mixin reset-list {
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}

@mixin reset-list-2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
}


@mixin reset-button {
    border: none;
}
@mixin border-radius {
    border-radius: 2rem 2rem 2rem 2rem;
}

@mixin drop-shadow {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin landing-page-buttons {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 18.125rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

@mixin questions-headers {
    font-family: "Avenir Next LT Bold";
    color: $main-red;
}