@font-face {
    font-family: "Avenir Next LT";
    src: url("../../assets/Fonts/AvenirNextLTPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Avenir Next LT Bold";
    src: url("../../assets/Fonts/AvenirNextLTPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}