//COLOURS///
$off-white: #fef6f3;
$bright-red: #f22e3e;
$main-red: #cf1d40;
$dark-red: #540c1a;
$petal-pink: #f294b6;
$candy-pink: #f2aedb;



$hot-pink: #F27FDB;
$strawberry: #ED617D;   
$light-petal-pink: #FFC9D7;
