@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/typography.scss";
@import "../../styles/partials/variables.scss";


.bookProfiles--section {
    background-color: $off-white;
    height: 100vh;
    text-align: center;

    .bookProfiles--title {
        @include questions-headers;
        @include reset-list-2;
        padding-top: 1rem;
    }
    
}


.tinder-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.tinder-card {
    @include drop-shadow-pink;
    @include border-radius;
    position: absolute;
    width: 25rem;
    max-width: 85vw;
    height: 25rem;
    max-height: 85vh;
    background-color: $light-petal-pink;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    will-change: transform;
}


a:link { 
    @include links;
}
a:visited { 
    @include links;
}
a:hover { 
    @include links;
}
a:active { 
    @include links;
}

.tinder-card--descriptionContainer {
    @include responsive-text-padding;
    .tinder-card--description {
        font-size: 1.25rem;
    }
}