

.tinder-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    position: relative;
}

.tinder-card {
    position: absolute;
    width: 300px;
    max-width: 85vw;
    height: 400px;
    max-height: 85vh;
    background-color: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    will-change: transform;
}
